.productcard {
  display: flex;
  justify-content: space-between;
  min-height: 70px;
  border-radius: 10px;
  font-family: var(--font-family);
  padding: 0.75rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 10px;
}
.productcard-media {
  height: 100px;
  width: 15%;
  background-color: rgb(226, 225, 225);
}
.productcard-media img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.productcard-1 {
  width: 80%;
  display: flex;
}
.productcard-title {
  margin-left: 1rem;
}

.productcard-controls button {
    cursor: pointer;
    padding: 0.75rem 1rem;
    margin: 10px;
    border-radius: 5px;
    outline: 0;
    border: 0;

}
.productcard-controls button:first-child {
    background-color: gray;

}
.productcard-controls button:last-child {
    background-color: tomato;
    color: white;
}
.productcard-controls button:first-child:hover {
    background-color: #ba9e02;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.productcard-controls button:last-child:hover {
    background-color: rgb(167, 25, 0);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: white;
}
@media screen and (min-width: 481px) and (max-width: 1000px) {
    .productcard {
        height: 100px;
    }
       .productcard-media {
        width: 40%;
      
    } 
        .productcard-controls {
     display: flex;
     flex-direction: column;
     justify-content: center;
     gap: 10px;
    }
}
@media screen and (min-width: 10px) and (max-width: 480px) {
    .productcard {
        padding: 10px 10px;

    }
    .productcard-media {
        width: 30%;
    }
    .productcard-1 {
        width: 80%;
        margin-right: 5px;
    }
    .productcard-title  h3{
        font-size: 16px;
    }
    .productcard-controls button {
        padding: 0.5rem 0.75rem;
        margin: 0;
        
    }
    .productcard-controls {
     display: flex;
     flex-direction: column;

     justify-content: center;
     gap: 10px;
    }
    
}